* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  color: #282828;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

.error-message {
  margin-top: 20px;
  color: #ea4335;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: #FFF;
}